<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Admin panel</title>
    <style>
        .container {
            display: flex; /* элемент отображается как блочный flex-контейнер */
            flex-wrap: nowrap; /* указывает, что флекс элементы выстраиваются в одну строку(это значение по умолчанию) */
        }
    </style>

</head>
<body class="bg-light">

<div class="container-fluid"> <!--общий контейнер на всю ширину-->

    <div class="row">
        <div class="col bg-dark border border-dark"> <!--темная граница, бг скрывает отступы-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
                <div>
                    <span class="navbar-text text-white font-weight-bold" th:utext="${userBar.email}"></span>&nbsp;
                    <span class="navbar-text text-white" th:utext="${'with roles: '+ userBar.rolesToString()}"></span>
                </div>
                <form class="form-inline"><a class="nav-link text-secondary" href="/logout">Logout</a></form>
            </nav>
        </div>
    </div>

    <!--общая строка на все панели-->
    <div class="row">
        <!--левая боковая панель-->
        <div class="col-2 p-0 mt-2 bg-white list-group">
            <nav class="nav nav-pills my-2 flex-column"> <!--вертикально кнопками-->
                <li class="nav-item"><a class="nav-link active border" href="/admin/all">Admin</a></li>
                <li class="nav-item"><a class="nav-link" href="/user">User</a></li>
            </nav>
        </div>

        <!--панель админа-->
        <div class="col my-3 mx-3">
            <h1>Admin panel</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" href="/admin/all">Users table</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/new">New User</a>
                </li>
            </ul>
            <nav class="navbar border rounded-top" style="background-color: #f5f5f5;">
                <span class="navbar-brand h1">All users</span>
            </nav>

            <!--вкладка все пользователи-->
            <div class="row">
                <div class="col mx-3 border rounded-bottom">
                    <div class="row bg-white">
                        <div class="col my-3">
                            <table class="table table-striped"> <!--полосатая таблица-->
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user: ${users}">
                                    <td th:utext="${user.userId}"></td>
                                    <td th:utext="${user.firstname}"></td>
                                    <td th:utext="${user.lastname}"></td>
                                    <td th:utext="${user.age}"></td>
                                    <td th:utext="${user.email}"></td>
                                    <td th:utext="${user.rolesToString()}"></td>
                                    <td>
                                        <button type="button" class="btn-sm btn-info" data-toggle="modal"
                                                th:attr="data-target='#modalEditUser'+${user.userId}">Edit
                                        </button>

                                        <!-- Модал на редактирование-->
                                        <div class="modal fade" th:id="'modalEditUser'+${user.userId}" role="dialog"
                                             tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="#" th:action="@{/admin/edit}" method="post" th:id="'formEdit'+${user.userId}">
                                                            <div class="form-group">
                                                                <label for="id_ed" class="col-6 mx-auto justify-content-center font-weight-bold">ID</label>
                                                                <input type="text" readonly class="form-control" th:value="${user.userId}" id="id_ed" name="id_ed">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="firstname_ed" class="col-6 mx-auto justify-content-center font-weight-bold">First name</label>
                                                                <input type="text" class="form-control" th:value="${user.firstname}" id="firstname_ed" name="firstname_ed">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="lastname_ed" class="col-6 mx-auto justify-content-center font-weight-bold">Last name</label>
                                                                <input type="text" class="form-control" th:value="${user.lastname}" id="lastname_ed" name="lastname_ed">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="age_ed" class="col-6 mx-auto justify-content-center font-weight-bold">Age</label>
                                                                <input type="number" class="form-control" th:value="${user.age}" id="age_ed" name="age_ed">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="email_ed" class="col-6 mx-auto justify-content-center font-weight-bold">Email</label>
                                                                <input type="email" class="form-control" th:value="${user.email}" id="email_ed" name="email_ed">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="password_ed" class="col-6 mx-auto justify-content-center font-weight-bold">Password</label>
                                                                <input type="password" class="form-control" th:value="${user.password}" id="password_ed" name="password_ed">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="roles_ed" class="col-6 mx-auto justify-content-center font-weight-bold">Role</label>
                                                                    <select multiple class="form-control" size="2" id="roles_ed" name="authorities">
                                                                        <option th:each="role: ${listOfRoles}"
                                                                                th:text="${role.rolenameWithoutSuf}"
                                                                                th:value="${role.roleId}"
                                                                                th:selected="${user.roles.contains(role)}">
                                                                        </option>
                                                                    </select>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary" th:form="'formEdit'+${user.userId}">Edit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn-sm btn-danger" data-toggle="modal"
                                                th:attr="data-target='#modalDeleteUser'+${user.userId}">Delete
                                        </button>

                                        <!-- Модал на удаление-->
                                        <div class="modal fade" th:id="'modalDeleteUser'+${user.userId}" role="dialog"
                                             tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="#" th:action="@{/admin/delete}" method="post" th:id="'formDelete'+${user.userId}">
                                                            <div class="form-group">
                                                                <label for="id_del" class="col-6 mx-auto justify-content-center font-weight-bold">ID</label>
                                                                <input type="text" readonly class="form-control" th:value="${user.userId}" id="id_del" name="id_del">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="firstname_del" class="col-6 mx-auto justify-content-center font-weight-bold my-2">First name</label>
                                                                <input type="text" readonly class="form-control" th:value="${user.firstname}" id="firstname_del" name="firstname_del">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="lastname_del" class="col-6 mx-auto justify-content-center font-weight-bold">Last name</label>
                                                                <input type="text" readonly class="form-control" th:value="${user.lastname}" id="lastname_del" name="lastname_del">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="age_del" class="col-6 mx-auto justify-content-center font-weight-bold my-2">Age</label>
                                                                <input type="number" readonly class="form-control" th:value="${user.age}" id="age_del" name="age_del">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="email_del" class="col-6 mx-auto justify-content-center font-weight-bold">Email</label>
                                                                <input type="email" readonly class="form-control" th:value="${user.email}" id="email_del" name="email_del">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="roles_del" class="col-6 mx-auto justify-content-center font-weight-bold">Role</label>
                                                                    <select multiple readonly class="form-control" size="2" id="roles_del" name="authorities">
                                                                        <option th:each="role: ${user.roles}"
                                                                                th:text="${role.rolenameWithoutSuf}">
                                                                        </option>
                                                                    </select>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-danger" th:form="'formDelete'+${user.userId}">Delete</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<!-- My script -->
<script src="/js/_myscript.js"></script>

</body>
</html>
